{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/locationweather.js')}}"></script>
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">InTuneWithTheWeather</h1>

        <div class="center">
            <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
        </div>

        <div class="center">
            <a href="/player" class="btn btn--secondary">Listen to Some Music!</a>
        </div>
        

        <div class="card">
            <h2 class="center">Hi {{session['user']['name']}}!</h2>
            <p>
                <strong>Name:</strong> {{session['user']['name']}}<br>
                <strong>Email:</strong> {{session['user']['email']}}<br>
            </p>
        </div>
        <div class="card">
            <h2>Your current location is <strong>{{session['user']['city']}}</strong> </h4>
            <h2>The current weather condition is <strong>{{session['user']['weather']}}</strong></h2>
            <h3> Location: </h3>
            <p> Update your city or weather:</p>
            <input type="text" placeholder="Type your city here..." id="search_bar" />
            <!input type="submit" value=Submit class="btn">
            <input type="submit" onclick="get_weather()" />
            <p id="city_temp">  </p>
            <p id="feels_like"> </p>
            <p id="wind_speed"> </p>
            <p id="condition">  </p>
        </div>

        <div class="card">
            <h3>Weather Preferences: </h3>
            <p>How do you feel when...</p>
            <form name="mood_form">

                <label for="sunny">it is sunny?</label>
                <select name="sunny" id="sunny">
                    <option selected="selected">
                        {{session['user']['sunny']}}
                    </option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="raining">it is raining?</label>
                <select name="raining" id="raining">
                    <option selected="selected">
                        {{session['user']['raining']}}
                    </option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="snowing">it is snowing?</label>
                <select name="snowing" id="snowing">
                    <option selected="selected">
                        {{session['user']['snowing']}}
                    </option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="foggy">it is foggy?</label>
                <select name="foggy" id="foggy">
                    <option selected="selected">
                        {{session['user']['foggy']}}
                    </option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="cloudy">it is cloudy?</label>
                <select name="cloudy" id="cloudy">
                    <option selected="selected">
                        {{session['user']['cloudy']}}
                    </option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <p class="error error--hidden"></p>
                <input type="submit" value="Make Changes" class="btn">
            </form>
        </div>
        <div class="card">
            <h3>Genre Preferences: </h3>

            <p>How does ____ music make you feel?</p>
            <form name="genre_form">

                <label for="hiphop">Hip Hop</label>
                <select name="hiphop" id="hiphop">
                    <option selected="selected">{{session['user']['hiphop']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="pop">Pop</label>
                <select name="pop" id="pop">
                    <option selected="selected">{{session['user']['pop']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="country">Country</label>
                <select name="country" id="country">
                    <option selected="selected">{{session['user']['country']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="rock">Rock</label>
                <select name="rock" id="rock">
                    <option selected="selected">{{session['user']['rock']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="latin">Latin</label>
                <select name="latin" id="latin">
                    <option selected="selected">{{session['user']['latin']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="r&b">R&B</label>
                <select name="r&b" id="r&b">
                    <option selected="selected">{{session['user']['r&b']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="indie">Indie</label>
                <select name="indie" id="indie">
                    <option selected="selected">{{session['user']['indie']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="party">Party</label>
                <select name="party" id="party">
                    <option selected="selected">{{session['user']['party']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="classical">Classical</label>
                <select name="classical" id="classical">
                    <option selected="selected">{{session['user']['classical']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="jazz">Jazz</label>
                <select name="jazz" id="jazz">
                    <option selected="selected">{{session['user']['jazz']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="folk&acoustic">Folk & Acoustic</label>
                <select name="folk&acoustic" id="folk&acoustic">
                    <option selected="selected">{{session['user']['folk&acoustic']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="soul">Soul</label>
                <select name="soul" id="soul">

                    <option selected="selected">{{session['user']['soul']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <label for="metal">Metal</label>
                <select name="metal" id="metal">
                    <option selected="selected">{{session['user']['metal']}}</option>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="angry">Angry</option>
                    <option value="calm">Calm</option>
                    <option value="excited">Excited</option>
                    <option value="scared">Scared</option>
                    <option value="lonely">Lonely</option>
                    <option value="confident">Confident</option>
                    <option value="lovestruck">Lovestruck</option>
                </select>
                <br><br>

                <p class="error error--hidden"></p>
                <input type="submit" value="Make Changes" class="btn">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}