{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">
    <div class="card">
        <h2 class="center">Hi {{session['user']['name']}}!</h2>
        <iframe src= "https://open.spotify.com/embed/playlist/{{session['user']['playlist']}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div class="center">
            <a href="/player" class="btn btn--secondary">New Playlist</a>
        </div>
    </div>
</div>
{% endblock %}